This is a sample code written by ABOLFAZL RoostaeiParidari.

The Data comes from: www.simplilearn.com

contact: roostaeiabolfazl@gmail.com

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Q1
data_GDP = pd.read_csv('GDP_dataset.txt',index_col=False)
data_GDP = data_GDP.T
data_GDP.head()

                      0
Algeria     2255.225482
Angola       629.955306
Argentina  11601.630220
Australia  25306.824940
Austria    27266.403350

In [3]:
data_GDP.describe()

                  0
count     63.000000
mean   11289.409272
std    12846.190627
min      229.676952
25%     1270.818919
50%     4803.398244
75%    20262.713475
max    40034.850630

In [4]:
data_GDP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, Algeria to Zimbabwe
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       63 non-null     float64
dtypes: float64(1)
memory usage: 1008.0+ bytes

In [5]:
index_GDP = data_GDP.index
index_GDP

Index(['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria', 'Bahamas',
       'Bangladesh', 'Belarus', 'Belgium', 'Bhutan', 'Brazil', 'Bulgaria',
       'Cambodia', 'Cameroon', 'Chile', 'China', 'Colombia', 'Cyprus',
       'Denmark', 'ElSalvador', 'Estonia', 'Ethiopia', 'Fiji', 'Finland',
       'France', 'Georgia', 'Ghana', 'Grenada', 'Guinea', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Italy', 'Japan', 'Kenya',
       'SouthKorea', 'Liberia', 'Malaysia', 'Mexico', 'Morocco', 'Nepal',
       'NewZealand', 'Norway', 'Pakistan', 'Peru', 'Qatar', 'Russia',
       'Singapore', 'SouthAfrica', 'Spain', 'Sweden', 'Switzerland',
       'Thailand', 'UAE', 'UK', 'USA', 'Uruguay', 'Venezuela', 'Vietnam',
       'Zimbabwe'],
      dtype='object')

In [6]:
type(data_GDP)

pandas.core.frame.DataFrame

In [7]:
ser_GDP = data_GDP[0]
ser_GDP

Algeria       2255.225482
Angola         629.955306
Argentina    11601.630220
Australia    25306.824940
Austria      27266.403350
                 ...
USA          37691.027330
Uruguay       9581.056590
Venezuela     5671.912202
Vietnam        757.400929
Zimbabwe       347.745660
Name: 0, Length: 63, dtype: float64

In [8]:
type(ser_GDP)

pandas.core.series.Series

In [9]:
# Q2
ser_GDP.argmax()

45

In [10]:
Max_GDP = ser_GDP[ser_GDP.argmax()]
Max_GDP

40034.85063

In [11]:
ser_GDP.index[45]

'Norway'

In [12]:
# Q3
ser_GDP.argmin()

21

In [13]:
Min_GDP = ser_GDP[ser_GDP.argmin()]
Min_GDP

229.6769525

In [14]:
ser_GDP.index[21]

'Ethiopia'

In [ ]:
# Q4
print('Evaluating Country')
for i in ser_GDP:
    country_name = input("Country Name:\n")
    if country_name in index_GDP:
        print(f'The Input "{country_name}" Does Truely Exist.')
    else:
        print(f'ERROR: The Input "{country_name}" Does NOT exist!!!!')

Evaluating Country
Country Name:
Iraq
ERROR: The Input "Iraq" Does NOT exist!!!!
Country Name:
China
The Input "China" Does Truely Exist.
Country Name:
SouthKorea
The Input "SouthKorea" Does Truely Exist.
Country Name:
USA
The Input "USA" Does Truely Exist.
Country Name:
E
ERROR: The Input "E" Does NOT exist!!!!
Country Name:
Poland
ERROR: The Input "Poland" Does NOT exist!!!!

In [16]:
# Q5
with pd.option_context('display.max_rows', 100, 'display.max_columns', 100):  # more options can be specified also
    print(data_GDP)

                        0
Algeria       2255.225482
Angola         629.955306
Argentina    11601.630220
Australia    25306.824940
Austria      27266.403350
Bahamas      19466.990520
Bangladesh     588.369178
Belarus       2890.345675
Belgium      24733.626960
Bhutan        1445.760002
Brazil        4803.398244
Bulgaria      2618.876037
Cambodia       590.452112
Cameroon       665.798233
Chile         7122.938458
China         2639.541560
Colombia      3362.465600
Cyprus       15378.167040
Denmark      30860.128080
ElSalvador    2579.115607
Estonia       6525.541272
Ethiopia       229.676952
Fiji          2242.689259
Finland      27570.485200
France       23016.847780
Georgia       1334.646773
Ghana          402.695328
Grenada       6047.200797
Guinea         394.115664
Haiti          385.579383
Honduras      1414.072488
Hungary       5745.981529
India          837.746401
Indonesia     1206.991065
Ireland      27715.528370
Italy        18937.249980
Japan        39578.074410
Kenya          478.219491
SouthKorea   16684.212780
Liberia        279.220406
Malaysia      5345.213415
Mexico        6288.253240
Morocco       1908.304416
Nepal          274.872862
NewZealand   14646.420940
Norway       40034.850630
Pakistan       672.154751
Peru          3359.517402
Qatar        36152.666760
Russia        3054.727742
Singapore    33529.830520
SouthAfrica   3825.093781
Spain        15428.320980
Sweden       33630.246040
Switzerland  39170.413710
Thailand      2699.123242
UAE          21058.436430
UK           28272.406610
USA          37691.027330
Uruguay       9581.056590
Venezuela     5671.912202
Vietnam        757.400929
Zimbabwe       347.745660

In [17]:
GDP_mean = ser_GDP.mean()
GDP_mean

11289.409271639684

In [18]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
scaled_data = scale.fit_transform(data_GDP)

In [19]:
SumGDP = sum(ser_GDP)
SumGDP

711232.7841133001

In [20]:
# Q 6
print(f'MaxGDP: {Max_GDP}, \nMinGPD: {Min_GDP}, \nMeanGDP: {GDP_mean}, \nSumGDP: {SumGDP}')
print(f'Standardized_Val: \n{scaled_data}')

MaxGDP: 40034.85063,
MinGPD: 229.6769525,
MeanGDP: 11289.409271639684,
SumGDP: 711232.7841133001
Standardized_Val:
[[-0.70890655]
 [-0.83644045]
 [ 0.02449978]
 [ 1.09993753]
 [ 1.25370438]
 [ 0.6416895 ]
 [-0.83970368]
 [-0.65906908]
 [ 1.05495905]
 [-0.77242478]
 [-0.50895308]
 [-0.68037113]
 [-0.83954024]
 [-0.83362788]
 [-0.32694027]
 [-0.67874952]
 [-0.62202214]
 [ 0.32084217]
 [ 1.53570163]
 [-0.6834911 ]
 [-0.37381764]
 [-0.86785003]
 [-0.70989026]
 [ 1.27756548]
 [ 0.9202445 ]
 [-0.78114377]
 [-0.85427339]
 [-0.4113527 ]
 [-0.85494663]
 [-0.85561647]
 [-0.77491128]
 [-0.43498918]
 [-0.82013522]
 [-0.79116083]
 [ 1.28894693]
 [ 0.60012111]
 [ 2.21979323]
 [-0.84834706]
 [ 0.42332674]
 [-0.86396239]
 [-0.4664372 ]
 [-0.39243747]
 [-0.73612922]
 [-0.86430354]
 [ 0.26342253]
 [ 2.25563616]
 [-0.83312909]
 [-0.62225348]
 [ 1.95100371]
 [-0.64617013]
 [ 1.74519145]
 [-0.58572   ]
 [ 0.32477772]
 [ 1.75307099]
 [ 2.18780436]
 [-0.67407418]
 [ 0.76656923]
 [ 1.3326448 ]
 [ 2.07171787]
 [-0.13405333]
 [-0.44080136]
 [-0.82643987]
 [-0.85858526]]